<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">Categorias</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/categories/Transistores" routerLinkActive="mat-accent">Transistores</button>
  <button mat-menu-item routerLink="/categories/Capacitores" routerLinkActive="mat-accent">Capacitores</button>
  <button mat-menu-item  routerLink="/categories/Herramientas" routerLinkActive="mat-accent">Herramientas</button>
  <button mat-menu-item routerLink="/categories/Diodos" routerLinkActive="mat-accent">Diodos</button>
  <button mat-menu-item routerLink="/" routerLinkActive="mat-accent">Todos</button>
</mat-menu>
<span class="spacer"></span>
      <a mat-button >Sign in</a>
      <a mat-button >Sign up</a>

<button mat-button [matMenuTriggerFor]="profile">Profile</button>
<mat-menu #profile="matMenu">
  <button mat-menu-item>Usuario</button>
  <mat-divider></mat-divider>
  <button mat-menu-item>Log Out</button>
</mat-menu>
</mat-toolbar>