<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">Categorias</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Transistores</button>
  <button mat-menu-item>Capacitores</button>
  <button mat-menu-item>Herramientas</button>
  <button mat-menu-item>Diodos</button>
</mat-menu>
<span class="spacer"></span>
      <a mat-button >Sign in</a>
      <a mat-button >Sign up</a>

<button mat-button [matMenuTriggerFor]="profile">Profile</button>
<mat-menu #profile="matMenu">
  <button mat-menu-item>Usuario</button>
  <mat-divider></mat-divider>
  <button mat-menu-item>Log Out</button>
</mat-menu>
</mat-toolbar>