<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">Categorias</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/categories/Transistores" routerLinkActive="mat-accent">Transistores</button>
  <button mat-menu-item routerLink="/categories/Capacitores" routerLinkActive="mat-accent">Capacitores</button>
  <button mat-menu-item  routerLink="/categories/Herramientas" routerLinkActive="mat-accent">Herramientas</button>
  <button mat-menu-item routerLink="/categories/Diodos" routerLinkActive="mat-accent">Diodos</button>
  <button mat-menu-item routerLink="/" routerLinkActive="mat-accent">Todos</button>
</mat-menu>
<span class="spacer"></span>
  <div *ngIf="!userIsAuthenticated">
    <button mat-button  routerLink="/signin" routerLinkActive="mat-accent">Sign In</button>
    <button mat-button  routerLink="/signup" routerLinkActive="mat-accent">Sign Up</button>
  </div>
      
<div *ngIf="userIsAuthenticated">
  <button mat-button [matMenuTriggerFor]="profile">{{userData.matricula}}</button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item *ngIf="userIsAdmin">Owner</button>
    <button mat-menu-item *ngIf="!userIsAdmin">profile</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLogout()">Log Out</button>
  </mat-menu>  
</div>

</mat-toolbar>