<main>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Buscar Usuario Por matricula" 
    value="A00" #inputMatricula >
  </mat-form-field>
  <button mat-raised-button [color]="'primary'" 
    (click)="searchUser(inputMatricula)">Buscar</button>
    <div *ngIf="mostrar">
    	<mat-card>
			<mat-card-header>
				<mat-card-title>Nombre: {{user.name}}</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>Email: {{user.email}}</p>
				<p>Carrea: {{user.carrera}}</p>
				<p>Matricula: {{user.matricula}}</p>
			</mat-card-content>
			<mat-card-actions >
	    		<button mat-raised-button [color]="'primary'" [routerLink]="['solicitudes', user._id]" routerLinkActive="mat-accent">Solicitudes</button>
	    		<button mat-raised-button [color]="'primary'" [routerLink]="['edit', user._id]" routerLinkActive="mat-accent" >Editar</button>
	    		<button mat-raised-button [color]="'primary'" (click)="eliminarUsuario(user._id)" >Eliminar</button>
	  		</mat-card-actions>
		</mat-card>
    </div>
</main>