
<mat-grid-list cols="5" rowHeight="1:1.3" >
  <mat-grid-tile *ngFor="let instrument of instruments">
  	<mat-card class="example-card" >
 		<mat-card-header>
 			<div mat-card-avatar class="example-header-image"></div>
    		<mat-card-title>{{instrument.name}}</mat-card-title>
  		</mat-card-header>
  		<img mat-card-lg-image [src]="instrument.instrumentImage" alt="">
  		<mat-card-content>
    		<p>Cantidad: {{instrument.cantidad}}</p>
			<p>Categorias: {{instrument.categories}}</p>
  		</mat-card-content>
  		<mat-card-actions>
    		<button mat-raised-button (click)="openDialog(instrument._id)">Prestar</button>
  		</mat-card-actions>
	</mat-card>
  </mat-grid-tile>
</mat-grid-list>
