<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-grid-list cols="5" rowHeight="1:1.3" >
  <mat-grid-tile *ngFor="let instrument of instruments">
  	<mat-card class="example-card" >
 		<mat-card-header>
 			<div mat-card-avatar class="example-header-image"></div>
    		<mat-card-title>{{instrument.name}}</mat-card-title>
  		</mat-card-header>
  		<img mat-card-lg-image [src]="instrument.instrumentImage" alt="">
  		<mat-card-content>
    		<p>Cantidad: {{instrument.cantidad}}</p>
			<p>Categorias: {{instrument.categories}}</p>
  		</mat-card-content>
  		<mat-card-actions *ngIf="isAuthenticated">
    		<button *ngIf="!isAdmin" mat-raised-button (click)="openDialog(instrument._id)">Prestar</button>
        <button *ngIf="isAdmin" mat-raised-button [routerLink]="['/owner', 'instruments', 'edit', instrument._id]" routerLinkActive="mat-accent" >Editar</button>
        <button *ngIf="isAdmin" mat-raised-button (click)="deleteInstrument(instrument._id)">Eliminar</button>
  		</mat-card-actions>
	</mat-card>
  </mat-grid-tile>
</mat-grid-list>
<p *ngIf="instruments.length < 0">No hay elementos para mostrar</p>
<mat-paginator  #lola [length]="totalInstruments" [pageSize]="instrumentsPerPage" [pageSizeOptions] = "pageSizeOptions" [showFirstLastButtons]="true" (page)="onChangedPage($event)"></mat-paginator>